# Data Preprocessing

## Data Overview

In [10]:
import pandas as pd
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [2]:
data.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [3]:
data.groupby("City").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

          Depression
                mean count
City
3.0              1.0     1
Mira             1.0     1
Ishanabad        1.0     1
Khaziabad        1.0     1
Gaurav           1.0     1
...              ...   ...
Anvi             0.0     1
Nalyan           0.0     1
Nandini          0.0     4
Kagan            0.0     1
Galesabad        0.0     1

[98 rows x 2 columns]

In [4]:
data.groupby("Profession").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                 Depression
                       mean count
Profession
Moderate           1.000000     1
Yogesh             0.666667     3
Unemployed         0.333333     3
Graphic Designer   0.185727  1163
Judge              0.108645  1712
...                     ...   ...
MBA                0.000000     2
MBBS               0.000000     1
Medical Doctor     0.000000     1
Nagpur             0.000000     1
Yuvraj             0.000000     1

[64 rows x 2 columns]

In [5]:
data.pivot_table(index="Profession", columns="Gender",
                 aggfunc={'Depression': ['mean', 'count']}).sort_values(("Depression","count", 'Male'), ascending=False)

                     Depression
                          count               mean
Gender                   Female     Male    Female      Male
Profession
Teacher                 11220.0  13686.0  0.055615  0.055677
Content Writer           3657.0   4157.0  0.017501  0.019726
Architect                1950.0   2420.0  0.095385  0.102066
Consultant               1814.0   2415.0  0.045755  0.048033
Pharmacist               1611.0   2282.0  0.027933  0.025855
...                         ...      ...       ...       ...
Moderate                    1.0      NaN  1.000000       NaN
Nagpur                      1.0      NaN  0.000000       NaN
Patna                       1.0      NaN  0.000000       NaN
Unveil                      1.0      NaN  0.000000       NaN
Working Professional        1.0      NaN  0.000000       NaN

[64 rows x 4 columns]

In [6]:
data.groupby("Sleep Duration").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                  Depression
                        mean  count
Sleep Duration
55-66 hours         1.000000      1
10-11 hours         1.000000      2
8 hours             1.000000      1
40-45 hours         1.000000      1
8-9 hours           0.500000      2
6-7 hours           0.250000      8
Less than 5 hours   0.234659  38784
2-3 hours           0.200000      5
4-6 hours           0.200000      5
7-8 hours           0.178339  36969
5-6 hours           0.165578  32142
4-5 hours           0.142857      7
More than 8 hours   0.138697  32726
3-4 hours           0.083333     12
1-2 hours           0.000000      1
Indore              0.000000      1
No                  0.000000      4
Moderate            0.000000      1
9-5 hours           0.000000      1
Pune                0.000000      1
Sleep_Duration      0.000000      2
Unhealthy           0.000000      2
Work_Study_Hours    0.000000      1
9-6 hours           0.000000      1
6-8 hours           0.000000      4
9-5                 0.000000      1
9-11 hours          0.000000      2
1-3 hours           0.000000      1
49 hours            0.000000      1
45-48 hours         0.000000      1
45                  0.000000      2
35-36 hours         0.000000      1
3-6 hours           0.000000      1
10-6 hours          0.000000      1
1-6 hours           0.000000      4
than 5 hours        0.000000      1

In [7]:
data.groupby("Academic Pressure").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                  Depression
                        mean count
Academic Pressure
5.0                 0.860864  6296
4.0                 0.761342  5158
3.0                 0.601635  7463
2.0                 0.374970  4179
1.0                 0.194126  4801

In [8]:
data.groupby("Work Pressure").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

              Depression
                    mean  count
Work Pressure
5.0             0.196113  22436
4.0             0.104789  22512
3.0             0.054386  21899
2.0             0.032290  24373
1.0             0.022493  21562

## Handling missing values

In [15]:
data.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36626
Academic Pressure                        112802
Work Pressure                             27915
CGPA                                     112801
Study Satisfaction                       112802
Job Satisfaction                          27907
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [12]:
test.isnull().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

In [14]:
# in data i will drop the lines that have NA in  Financial Stress
data = data.dropna(subset="Financial Stress")