# Data Preprocessing

## Data Overview

In [10]:
import pandas as pd
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [2]:
data.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [3]:
data.groupby("City").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

          Depression
                mean count
City
3.0              1.0     1
Mira             1.0     1
Ishanabad        1.0     1
Khaziabad        1.0     1
Gaurav           1.0     1
...              ...   ...
Anvi             0.0     1
Nalyan           0.0     1
Nandini          0.0     4
Kagan            0.0     1
Galesabad        0.0     1

[98 rows x 2 columns]

In [4]:
data.groupby("Profession").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                 Depression
                       mean count
Profession
Moderate           1.000000     1
Yogesh             0.666667     3
Unemployed         0.333333     3
Graphic Designer   0.185727  1163
Judge              0.108645  1712
...                     ...   ...
MBA                0.000000     2
MBBS               0.000000     1
Medical Doctor     0.000000     1
Nagpur             0.000000     1
Yuvraj             0.000000     1

[64 rows x 2 columns]

In [5]:
data.pivot_table(index="Profession", columns="Gender",
                 aggfunc={'Depression': ['mean', 'count']}).sort_values(("Depression","count", 'Male'), ascending=False)

                     Depression
                          count               mean
Gender                   Female     Male    Female      Male
Profession
Teacher                 11220.0  13686.0  0.055615  0.055677
Content Writer           3657.0   4157.0  0.017501  0.019726
Architect                1950.0   2420.0  0.095385  0.102066
Consultant               1814.0   2415.0  0.045755  0.048033
Pharmacist               1611.0   2282.0  0.027933  0.025855
...                         ...      ...       ...       ...
Moderate                    1.0      NaN  1.000000       NaN
Nagpur                      1.0      NaN  0.000000       NaN
Patna                       1.0      NaN  0.000000       NaN
Unveil                      1.0      NaN  0.000000       NaN
Working Professional        1.0      NaN  0.000000       NaN

[64 rows x 4 columns]

In [6]:
data.groupby("Sleep Duration").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                  Depression
                        mean  count
Sleep Duration
55-66 hours         1.000000      1
10-11 hours         1.000000      2
8 hours             1.000000      1
40-45 hours         1.000000      1
8-9 hours           0.500000      2
6-7 hours           0.250000      8
Less than 5 hours   0.234659  38784
2-3 hours           0.200000      5
4-6 hours           0.200000      5
7-8 hours           0.178339  36969
5-6 hours           0.165578  32142
4-5 hours           0.142857      7
More than 8 hours   0.138697  32726
3-4 hours           0.083333     12
1-2 hours           0.000000      1
Indore              0.000000      1
No                  0.000000      4
Moderate            0.000000      1
9-5 hours           0.000000      1
Pune                0.000000      1
Sleep_Duration      0.000000      2
Unhealthy           0.000000      2
Work_Study_Hours    0.000000      1
9-6 hours           0.000000      1
6-8 hours           0.000000      4
9-5                 0.000000      1
9-11 hours          0.000000      2
1-3 hours           0.000000      1
49 hours            0.000000      1
45-48 hours         0.000000      1
45                  0.000000      2
35-36 hours         0.000000      1
3-6 hours           0.000000      1
10-6 hours          0.000000      1
1-6 hours           0.000000      4
than 5 hours        0.000000      1

In [7]:
data.groupby("Academic Pressure").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

                  Depression
                        mean count
Academic Pressure
5.0                 0.860864  6296
4.0                 0.761342  5158
3.0                 0.601635  7463
2.0                 0.374970  4179
1.0                 0.194126  4801

In [8]:
data.groupby("Work Pressure").agg({'Depression': ['mean', 'count']}).sort_values(("Depression", "mean"), ascending=False)

              Depression
                    mean  count
Work Pressure
5.0             0.196113  22436
4.0             0.104789  22512
3.0             0.054386  21899
2.0             0.032290  24373
1.0             0.022493  21562

## Handling missing values

In [27]:
data.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36626
Academic Pressure                        112802
Work Pressure                             27915
CGPA                                     112801
Study Satisfaction                       112802
Job Satisfaction                          27907
Sleep Duration                                0
Dietary Habits                                0
Degree                                        0
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              0
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [45]:
test.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Is_Expected_Job                          0
dtype: int64

In [14]:
# in data i will drop the lines that have NA in  Financial Stress
data = data.dropna(subset="Financial Stress")

In [24]:
test['Degree'].value_counts()

Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
            ...
Bian           1
Kavya          1
M.M.Ed         1
Vrinda         1
BHCA           1
Name: Degree, Length: 87, dtype: int64

In [22]:
data['Dietary Habits'] = data['Dietary Habits'].fillna('Moderate')
test['Dietary Habits'] = test['Dietary Habits'].fillna('Moderate')

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2102067051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Dietary Habits'] = data['Dietary Habits'].fillna('Moderate')

In [25]:
data['Degree'] = data['Degree'].fillna('Class 12')
test['Degree'] = test['Degree'].fillna('Class 12')

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2484084890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Degree'] = data['Degree'].fillna('Class 12')

In [29]:
data['Profession'].fillna('Student', inplace=True)
test['Profession'].fillna('Student', inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\4238365911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Profession'].fillna('Student', inplace=True)

In [31]:
for col in data.columns[:-1]:
    data[col].fillna(0, inplace=True)
    test[col].fillna(0, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2707742535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col].fillna(0, inplace=True)

## Categorical value

In [33]:
data.groupby('Profession')['Degree'].unique()

Profession
Academic                                  [M.Com, MCA, M.Tech, PhD, B.Ed]
Accountant                    [B.Com, M.Com, BBA, MSc, BCA, MBA, ME, PhD]
Analyst                                                             [MBA]
Architect               [B.Arch, BSc, MCA, MSc, BCA, ME, BE, M.Tech, M...
B.Com                                                             [B.Com]
                                              ...
Unveil                                                         [B.B.Arch]
Visakhapatnam                                                       [BSc]
Working Professional                                                [LLM]
Yogesh                                                [M.Com, B.Ed, M.Ed]
Yuvraj                                                              [MSc]
Name: Degree, Length: 64, dtype: object

In [37]:
res= ""
for val in data['Degree'].unique():
    res += val + " | "
print(res)

BHM | LLB | B.Pharm | BBA | MCA | MD | BSc | ME | B.Arch | BCA | BE | MA | B.Ed | B.Com | MBA | M.Com | MHM | BA | Class 12 | M.Tech | PhD | M.Ed | MSc | B.Tech | LLM | MBBS | M.Pharm | UX/UI Designer | MPA | BH | Nalini | BEd | B.Sc | Veda | Bhopal | S.Tech | Degree | 20 | Class 11 | H_Pharm | M | P.Com | BPharm | Business Analyst | M.Arch | LL.Com | Data Scientist | MPharm | L.Ed | P.Pharm | Kalyan | Unite | BArch | HR Manager | Badhya | S.Pharm | LLBA | Vrinda | M. Business Analyst | Bhavesh | 0 | LLCom | 29 | MTech | Vivaan | BPA | Plumber | 5.61 | Brit | B.03 | Ritik | 5.56 | MEd | B | B BA | 7.06 | B.B.Arch | ACA | Brithika | CGPA | 24 | M_Tech | Pihu | BB | Jhanvi | LLTech | Aarav | Entrepreneur | 8.56 | LHM | Lata | S.Arch | Marsh | HCA | 5.88 | B.Student | LL B.Ed | M.S | Navya | Mahika | K.Ed | B.3.79 | Mthanya | Working Professional | Esha | LLS | LLEd | E.Tech | Doctor | N.Pharm | LCA | B B.Com | RCA | Mihir | Advait |

In [38]:
res= ""
for val in data['Profession'].unique():
    res += val + " | "
print(res)

Chef | Teacher | Student | Business Analyst | Finanancial Analyst | Chemist | Electrician | Software Engineer | Data Scientist | Plumber | Marketing Manager | Accountant | Entrepreneur | HR Manager | UX/UI Designer | Content Writer | Educational Consultant | Civil Engineer | Manager | Pharmacist | Financial Analyst | Architect | Mechanical Engineer | Customer Support | Consultant | Judge | Researcher | Pilot | Graphic Designer | Travel Consultant | Digital Marketer | Lawyer | Research Analyst | Sales Executive | Doctor | Unemployed | Investment Banker | Family Consultant | B.Com | BE | Yogesh | Dev | MBA | LLM | BCA | Academic | Profession | FamilyVirar | City Manager | BBA | Medical Doctor | Working Professional | MBBS | Patna | Unveil | B.Ed | Nagpur | Moderate | M.Ed | Analyst | Pranav | Visakhapatnam | PhD | Yuvraj |

In [39]:
degree_to_jobs = {
    "BHM": ["Chef", "Hotel Manager", "Travel Consultant"],
    "LLB": ["Lawyer", "Judge", "Legal Consultant"],
    "B.Pharm": ["Pharmacist", "Chemist", "Medical Consultant"],
    "BBA": ["Marketing Manager", "HR Manager", "Business Analyst"],
    "MCA": ["Software Engineer", "Data Scientist", "IT Consultant"],
    "MD": ["Medical Doctor", "Family Consultant", "Researcher"],
    "BSc": ["Researcher", "Teacher", "Content Writer"],
    "ME": ["Mechanical Engineer", "Civil Engineer", "Manager"],
    "B.Arch": ["Architect", "Interior Designer", "City Planner"],
    "BCA": ["Software Engineer", "IT Support", "Web Developer"],
    "BE": ["Civil Engineer", "Mechanical Engineer", "Electrical Engineer"],
    "MA": ["Teacher", "Educational Consultant", "Content Writer"],
    "B.Ed": ["Teacher", "Educational Consultant", "Academic"],
    "B.Com": ["Accountant", "Financial Analyst", "Investment Banker"],
    "MBA": ["Manager", "Marketing Manager", "HR Manager"],
    "M.Com": ["Financial Analyst", "Accountant", "Investment Banker"],
    "MHM": ["Hotel Manager", "Chef", "Travel Consultant"],
    "BA": ["Content Writer", "Teacher", "Marketing Manager"],
    "Class 12": ["Student", "Unemployed", "Working Professional"],
    "M.Tech": ["Software Engineer", "Researcher", "Mechanical Engineer"],
    "PhD": ["Researcher", "Professor", "Scientist"],
    "M.Ed": ["Educational Consultant", "Teacher", "Academic"],
    "MSc": ["Researcher", "Data Scientist", "Educational Consultant"],
    "B.Tech": ["Software Engineer", "Mechanical Engineer", "Civil Engineer"],
    "LLM": ["Lawyer", "Judge", "Legal Consultant"],
    "MBBS": ["Medical Doctor", "Researcher", "Family Consultant"],
    "M.Pharm": ["Pharmacist", "Researcher", "Medical Consultant"],
    "UX/UI Designer": ["UX/UI Designer", "Graphic Designer", "Web Developer"],
    "MPA": ["Manager", "Public Administrator", "Policy Analyst"],
    "BH": ["Chef", "Hotel Manager", "Travel Consultant"],
    "Nalini": [],
    "BEd": ["Teacher", "Educational Consultant", "Academic"],
    "B.Sc": ["Researcher", "Teacher", "Scientist"],
    "Veda": [],
    "Bhopal": [],
    "S.Tech": [],
    "Degree": [],
    "20": [],
    "Class 11": [],
    "H_Pharm": [],
    "M": [],
    "P.Com": [],
    "BPharm": ["Pharmacist", "Chemist"],
    "Business Analyst": ["Business Analyst", "Marketing Manager"],
    "M.Arch": ["Architect", "Interior Designer"],
    "LL.Com": [],
    "Data Scientist": ["Data Scientist", "Research Analyst", "Software Engineer"],
    "MPharm": ["Pharmacist", "Medical Consultant"],
    "L.Ed": [],
    "P.Pharm": [],
    "Kalyan": [],
    "Unite": [],
    "BArch": ["Architect"],
    "HR Manager": ["HR Manager", "Recruiter"],
    "Badhya": [],
    "S.Pharm": [],
    "LLBA": [],
    "Vrinda": [],
    "M. Business Analyst": ["Business Analyst"],
    "Bhavesh": [],
    "0": [],
    "LLCom": [],
    "29": [],
    "MTech": ["Software Engineer"],
    "Vivaan": [],
    "BPA": [],
    "Plumber": ["Plumber", "Electrician"],
    "5.61": [],
    "Brit": [],
    "B.03": [],
    "Ritik": [],
    "5.56": [],
    "MEd": ["Educational Consultant"],
    "B": [],
    "B BA": ["Business Analyst"],
    "7.06": [],
    "B.B.Arch": [],
    "ACA": [],
    "Brithika": [],
    "CGPA": [],
    "24": [],
    "M_Tech": ["Software Engineer"],
    "Pihu": [],
    "BB": [],
    "Jhanvi": [],
    "LLTech": [],
    "Aarav": [],
    "Entrepreneur": ["Entrepreneur", "Business Consultant"],
    "8.56": [],
    "LHM": [],
    "Lata": [],
    "S.Arch": ["Architect"],
    "Marsh": [],
    "HCA": [],
    "5.88": [],
    "B.Student": [],
    "LL B.Ed": [],
    "M.S": [],
    "Navya": [],
    "Mahika": [],
    "K.Ed": [],
    "B.3.79": [],
    "Mthanya": [],
    "Working Professional": ["Manager"],
    "Esha": [],
    "LLS": [],
    "LLEd": [],
    "E.Tech": [],
    "Doctor": ["Medical Doctor", "Researcher"],
    "N.Pharm": [],
    "LCA": [],
    "B B.Com": ["Accountant"],
    "RCA": [],
    "Mihir": [],
    "Advait": [],
}

In [43]:
data['Is_Expected_Job'] = data.apply(lambda row: 1 if row['Profession'] in degree_to_jobs.get(row['Degree'], []) else 0, axis=1)
test['Is_Expected_Job'] = test.apply(lambda row: 1 if row['Profession'] in degree_to_jobs.get(row['Degree'], []) else 0, axis=1)

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\1593355920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Is_Expected_Job'] = data.apply(lambda row: 1 if row['Profession'] in degree_to_jobs.get(row['Degree'], []) else 0, axis=1)

In [44]:
data.drop(columns=['Name'], inplace=True)
test.drop(columns=['Name'], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2789490796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Name'], inplace=True)

In [47]:
data['Gender'] = data['Gender'].map({'Male' : 0, 'Female' : 1})
test['Gender'] = test['Gender'].map({'Male' : 0, 'Female' : 1})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2557774272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'] = data['Gender'].map({'Male' : 0, 'Female' : 1})

In [49]:
data['Working Professional or Student'] = data['Working Professional or Student'].map({'Working Professional': 1, 'Student' : 0})
test['Working Professional or Student'] = test['Working Professional or Student'].map({'Working Professional': 1, 'Student' : 0})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\3184150634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Working Professional or Student'] = data['Working Professional or Student'].map({'Working Professional': 1, 'Student' : 0})

In [50]:
data['Dietary Habits'].value_counts()

Moderate             49708
Unhealthy            46226
Healthy              44739
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1.0                      1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: Dietary Habits, dtype: int64

In [51]:
data['Dietary Habits'] = data['Dietary Habits'].apply(lambda x: x if x in ['Moderate', 'Healthy', 'Unhealthy'] else 'Moderate')
test['Dietary Habits'] = test['Dietary Habits'].apply(lambda x: x if x in ['Moderate', 'Healthy', 'Unhealthy'] else 'Moderate')
test['Dietary Habits'].value_counts()

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\3790799406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Dietary Habits'] = data['Dietary Habits'].apply(lambda x: x if x in ['Moderate', 'Healthy', 'Unhealthy'] else 'Moderate')

Moderate     33048
Unhealthy    30786
Healthy      29966
Name: Dietary Habits, dtype: int64

In [62]:
data['Dietary Habits'] = data['Dietary Habits'].map({'Healthy' : 3, 'Moderate' : 2, 'Unhealthy' : 1})
test['Dietary Habits'] = test['Dietary Habits'].map({'Healthy' : 3, 'Moderate' : 2, 'Unhealthy' : 1})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\4047755041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Dietary Habits'] = data['Dietary Habits'].map({'Healthy' : 3, 'Moderate' : 2, 'Unhealthy' : 1})

In [52]:
data['Have you ever had suicidal thoughts ?'].unique()

array(['No', 'Yes'], dtype=object)

In [53]:
data['Have you ever had suicidal thoughts ?'] = data['Have you ever had suicidal thoughts ?'].map({'No' : 0, 'Yes' : 1})
test['Have you ever had suicidal thoughts ?'] = test['Have you ever had suicidal thoughts ?'].map({'No' : 0, 'Yes' : 1})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\3735583323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Have you ever had suicidal thoughts ?'] = data['Have you ever had suicidal thoughts ?'].map({'No' : 0, 'Yes' : 1})

In [54]:
data['Family History of Mental Illness'].unique()

array(['No', 'Yes'], dtype=object)

In [55]:
data['Family History of Mental Illness'] = data['Family History of Mental Illness'].map({'No' : 0, 'Yes' : 1})
test['Family History of Mental Illness'] = test['Family History of Mental Illness'].map({'No' : 0, 'Yes' : 1})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\2603942843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Family History of Mental Illness'] = data['Family History of Mental Illness'].map({'No' : 0, 'Yes' : 1})

In [64]:
data.dtypes

id                                         int64
Gender                                     int64
Age                                      float64
City                                      object
Working Professional or Student            int64
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                           float64
Dietary Habits                             int64
Degree                                    object
Have you ever had suicidal thoughts ?      int64
Work/Study Hours                         float64
Financial Stress                         float64
Family History of Mental Illness           int64
Depression                                 int64
Is_Expected_Job                            int64
dtype: object

In [60]:
data['Sleep Duration'].value_counts()

Less than 5 hours    38783
7-8 hours            36969
More than 8 hours    32725
5-6 hours            32140
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: Sleep Duration, dtype: int64

In [61]:
data['Sleep Duration'] = data['Sleep Duration'].apply(lambda x: x if x in ['Less than 5 hours', '7-8 hours', 'More than 8 hours', '5-6 hours'] else '7-8 hours')
test['Sleep Duration'] = test['Sleep Duration'].apply(lambda x: x if x in ['Less than 5 hours', '7-8 hours', 'More than 8 hours', '5-6 hours'] else '7-8 hours')
test['Sleep Duration'].value_counts()

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\4022528517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sleep Duration'] = data['Sleep Duration'].apply(lambda x: x if x in ['Less than 5 hours', '7-8 hours', 'More than 8 hours', '5-6 hours'] else '7-8 hours')

Less than 5 hours    25661
7-8 hours            24545
More than 8 hours    22190
5-6 hours            21404
Name: Sleep Duration, dtype: int64

In [63]:
data['Sleep Duration'] = data['Sleep Duration'].map({'Less than 5 hours' : 4, '7-8 hours' : 7.5, 'More than 8 hours' : 9, '5-6 hours' : 5.5})
test['Sleep Duration'] = test['Sleep Duration'].map({'Less than 5 hours' : 4, '7-8 hours' : 7.5, 'More than 8 hours' : 9, '5-6 hours' : 5.5})

C:\Users\hp\AppData\Local\Temp\ipykernel_8948\3695871191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sleep Duration'] = data['Sleep Duration'].map({'Less than 5 hours' : 4, '7-8 hours' : 7.5, 'More than 8 hours' : 9, '5-6 hours' : 5.5})

In [65]:
# data.to_csv('process_train.csv', index=False)
# test.to_csv('process_test.csv', index=False)